#sh-panel{
	height:100%;
	width:100%;
	z-index:2147483644;
}
#sh-modal {
	overflow:auto;

	height:95% !important;
}

.sh-hide{

}

.sh-float-left{
	position:relative;
	top:-20px;
	left:-25px;

}

#sh-modal-content a{
	pointer-events: none;
}

h3 span{
	margin-right: 10px;
}
h3 small{
	margin-left:20px;
}
body{
	font-family: "微软雅黑","黑体",sans-serif;
}
