#sh-panel{
	height:100%;
	width:100%;
	
}
#sh-modal {
	overflow:auto;

	height:95% !important;
}


.sh-float-left{
	position:relative;
	top:-20px;
	left:-25px;

}

#sh-modal-content a{
	pointer-events: none;
}

h3 span{
	margin-right: 10px;
}
body{
	font-family: "微软雅黑","黑体",sans-serif;
}
