#sh-panel{
	height:100%;
	
}
#sh-modal {
	overflow:auto;

	height:100% !important;
}

#sh-modal .col-md-9{

}

.sh-float-left{
	position:relative;
	top:-20px;
	left:-20px;

}

#sh-modal-content a{
	pointer-events: none;
}

h3 span{
	margin-right: 10px;
}
body{
	font-family: "微软雅黑","黑体",sans-serif;
}
/*#sh-modal {
	
	font-family: "Segoe UI", "黑体","Lucida Grande", Tahoma, sans-serif !important;
	display:none;
	font-size:15px !important; 
	color: #fff;
	background-color:#4abdac ;
	z-index: 999999999;
	position:fixed;
	padding:20px;
	top:35%;
	left:35%;
	width:30%;
	height:40%;
}*/