.sh-predict {
	border:2px solid #3f3f3f;
}

.sh-hover {

	background-color: rgba(0,204,255,0.5) !important;
	color:#fff !important;
	text-shoadow:none !important;


}

.sh-select {

	background-color: rgba(0,153,51,0.8) !important;
	color:#fff !important;
	text-shoadow:none !important;


}

#sh-iframe {
    
    border-radius: 4px;
    display: block;
    position: fixed !important;
    right: 20px;
    top: 20px;
    
    z-index: 2147483647;
    overflow:hidden !important;
    border: 0px none rgb(0, 0, 0);
    font-family: "Segoe UI", "黑体","Lucida Grande", Tahoma, sans-serif !important;
    outline: rgba(0, 0, 0, 0) none 0px;
    /*transition: -webkit-transform 300ms ease, opacity 300ms ease;*/
    transition: width 0.5s,height 0.5s;
    
}

.sh-iframe-normal {
	width:270px !important;
	height:400px !important;
	
}
.sh-iframe-expand {
	width:90% !important; 
	height:90% !important;
	
}


#sh-cover {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.7;
    z-index:2147483644;
    
}

