.sh-predict {
	border:2px solid #3f3f3f;
}
.sh-hover {

	background-color: rgba(0,204,255,0.5) !important;
	color:#fff !important;
	text-shoadow:none !important;


}
.sh-select {

	background-color: rgba(0,153,51,0.8) !important;
	color:#fff !important;
	text-shoadow:none !important;


}
div.sh-move-to-right{
	right:0px;
}
div.sh-move-to-left{
	left:0px;
}
#sh-panel{
	clear:both;
	font-family: "Segoe UI", "黑体","Lucida Grande", Tahoma, sans-serif !important;
	position:fixed !important;
	width:300px !important;
	height:50% !important;
	top:0px !important;
	z-index: 999 !important;
	padding:20px !important;
	font-size: 14px !important;
	color:white !important;
	background-color: rgba(0,0,0,0.5) !important;
	line-height: 30px !important;
}
#sh-panel ul li{
	display:inline !important;
	margin-right: 10px !important;
}
#sh-panel ul li button{
	color:#fff !important;
	background-color: #737373;
	border:none !important;
	padding:5px;
	margin: 5px;
}
#sh-panel ul li button:hover{
	background-color: #333333;
}
#sh-panel ul{
	display:block !important;
}
#sh-panel h4{
	color:#fff !important;
	font-size:15px !important; 
	text-align: center!important;
}