#sh-iframe {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2147483647;
  overflow: hidden !important;
  border: 0px none rgb(0, 0, 0);
  /*transition: -webkit-transform 300ms ease, opacity 300ms ease;*/
  transition: width 0.5s, height 0.5s;
}

.sh-frame-no-expand {
  width: 300px;
  height: 650px;
}

.sh-frame-expand {
  width: 90vw;
  height: 90vh;
}

.sh-predict {
  border: 2px solid red;
  background-color: rgba(0, 153, 51, 0.8) !important;
  color: #fff !important;
  text-shoadow: none !important;
}

.sh-hover {
  background-color: rgba(0, 204, 255, 0.5) !important;
  color: #fff !important;
  text-shoadow: none !important;
}

.sh-with-shadow {
  transition: box-shadow 0.3s;
  box-shadow: 0px 0px #888888;
}

.sh-with-shadow:hover {
  box-shadow: 3px 3px 20px white;
}
